[Desktop Entry]
Version=1.0
Type=Application
Name=Zetta
GenericName=Terminal Emulator
Comment=A high-performance terminal emulator
TryExec=zetta
Exec=zetta
Actions=new-window;
Icon=Zetta
Terminal=false
X-TerminalArgExec=-e
StartupNotify=true
StartupWMClass=Zetta
Categories=System;TerminalEmulator;
Keywords=zetta;terminal;shell;console;command line;

[Desktop Action new-window]
Name=New Window
Exec=zetta --new-window
